* {
  box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Inter", sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

form {
    padding: clamp(15px, 3vw, 35px) 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: clamp(12px, 2vw, 24px);
    font-size: clamp(1rem, 1.75vw, 2.25rem);
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: inset(50%);
    white-space: nowrap;
    border: none;
}

input {
    width: clamp(50px, 7vw, 180px);
    height: clamp(40px, 4.5vw, 95px);
    border: none;
    background: #E5E5E5;
}

select {
    padding: 0.7em 2.2em 0.7em 0.8em;
    flex: 1;
    max-width: clamp(200px, 40vw, 900px);
    border-radius: 0.4em;

    /* Hide the default browser arrow */
    appearance: none;
    -webkit-appearance: none;

    /* Replace the default browser arrow with a better looking one */
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20stroke%3D%22%239CA3AF%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%3Cpolyline%20points%3D%226%209%2012%2015%2018%209%22%3E%3C/polyline%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 0.7em center;
    background-size: 1.6em;
}

button {
    border-radius: 0.3em;
    padding: 0.8em 0.7em;
}

input,
button,
.color div {
    cursor: pointer;
}

select,
button {
    box-shadow:
      0 1px 2px 0 rgba(0, 0, 0, 0.025),
      0 2px 4px 0 rgba(0, 0, 0, 0.035);
    font-family: inherit;
    font-size: inherit;
    background-color: transparent;
    border: 1px solid #D1D5DB;
}

#colors {
    display: flex;
    flex: 1;
}

.color {
   width: 20vw;
}

.color div {
    height: 90%;
}

.color p {
    text-align: center;
    margin: 0;
    padding: clamp(5px, 3.5vh, 35px) 0;
    font-size: clamp(1.1rem, 3.2vw, 1.9rem);
}

@media (max-width: 500px) {
    form {
        flex-direction: column;
    }

    select {
        max-width: 90%;
    }

    .color p {
        padding: clamp(5px, 3.5vh, 22px) 0;
    }
}

@media (min-width: 635px) {
    .color p {
        padding: 15px 0;
    }
}

#hover-box {
    position: fixed;
    display: none;
    font-size: 3vw;
    align-items: center;
    justify-content: center;
    background-color: yellow;
    border-radius: 2px;
    pointer-events: none; /* Stops flickering */
    transform: translate(13px, 13px); /* Slightly offsets it from the cursor */
}
#hover-box span {
    white-space: nowrap;
}

#touch-devices-label {
    background-color: yellow;
    align-self: center;
    font-size: 3.8vw;
    display: none;
}
